* {
	margin: 0;
	padding: 0;
}

#particles-js {
	background-color: #393e3a;
}

.abuBox {
	width: 1000px;
	height: 470px;
	padding: 50px;
	/*border: 1px solid gray;*/
	position: absolute;
	text-align: center;
	overflow: hidden;
}


/*左侧内容*/

.abuBoxLeft {
	float: left;
}

.abuBoxLeft p {
	font-size: 24px;
	padding-bottom: 50px;
	color: aqua;
}


/*右侧内容*/

.abuBoxRight {
	float: right;
}

.abuBoxRight p {
	font-size: 24px;
	padding-bottom: 50px;
	color: aqua;
	width: 412px;
	font-family: cursive;
}

.abuBoxRight input {
	font-family: cursive;
	outline: none;
	width: 400px;
	height: 35px;
	line-height: 35px;
	display: block;
	margin: 0 auto;
	padding: 0 5px;
	font-size: 18px;
	margin-bottom: 30px;
	background: transparent;
	color: gray;
	border: none;
	border-bottom: 1px solid palegreen;
}

#userWords {
	font-family: cursive;
	width: 400px;
	height: 180px;
	padding: 5px 5px;
	resize: none;
	overflow: hidden;
	font-size: 20px;
	background: transparent;
	border-color: palegreen;
	color: gray;
	outline: none;
	display: block;
}

#abuBoxBtn {
	outline: none;
	border: 1px solid palegreen;
	width: 90px;
	height: 34px;
	line-height: 34px;
	border-radius: 5px;
	background: transparent;
	color: aqua;
	font-size: 20px;
	margin-top: 20px;
	cursor: pointer;
	float: right;
	font-family: cursive;
}

#thxMark {
	position: absolute;
	/*top: 35%;
	left: 37.5%;*/
	top: -17%;
	left: 37.5%;
	background: teal;
	border-radius: 10px;
	color: white;
	width: 25%;
	height: 17%;
	min-width: 25%;
	font-size: 20px;
	text-align: center;
	/*animation: bounceInDown 2s;*/
	font-family: "微软雅黑";
}

#closeBtn {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	padding: 2px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

#closeBtn:hover {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

#thxMark .thxWords {
	margin-top: 8%;
	margin-bottom: 2%;
}

.share-platform {
	margin: 0 auto;
	width: 250px;
}

.share-platform .share-platform-l {
	line-height: 50px;
}

.share-platform .share-platform-r {
	margin-top: 10px;
	width: auto;
}

@media(max-width:1080px) {
	.abuBox {
		width: 880px;
	}
	#thxMark {
		width: 35%;
		height: 8%;
		min-width: 35%;
	}
}